*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    scrollbar-width: none;
}
body{
    width: 100vw;
    height: 100vh;
    max-height: max-content;
    background-color: cornflowerblue;
    overflow-y: scroll;
    
    overflow-x: hidden;
    
}
.app-container{
    width: 100vw;
    height: calc(100vh - 80px);
    max-height: max-content;
}
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(138, 172, 235);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 1.3rem;
}
.button{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.5s ease;
}
.app-name{
    color: rgb(59, 116, 223);
    font-weight: bold;
    font-size: 1.6rem;
}
.button:hover{
    transform: scale(1.1)
}
.app-init{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    backdrop-filter: blur(3px);
}
.text{
    background-color:rgb(160, 172, 196);
    outline: none;
    width: 150rem;
    height: 10rem;
    overflow-y: scroll;
    padding: 0.5rem 1rem;
    scrollbar-width: thin;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    scroll-behavior: smooth;
    border-radius: 0.2rem;
    font-size: 1.5rem;
}
.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    border: 1px solid gray;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-btn > div{
    height: 2px;
    width: 1.5rem;
    background-color:coral;
    transition: 0.5s ease;
}
.close-btn:hover .left{
    background-color: white;
}
.close-btn:hover .right{
    background-color: white;
}
.right{
    transform: rotate(45deg);
}
.left{
    transform: rotate(-45deg);
}
.inner{
    position: relative;
}
.sticker{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
.app-body-container{
        position: absolute;
        top: 105px;
        width: 100vw;
}
.app-body{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 0 2rem ;
}
@media screen and (max-width: 1250px) {
    .app-body{
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        width: max-content;
    }
}

@media screen and (max-width: 950px) {
    .app-body{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (max-width: 650px) {
    .app-body{
        grid-template-columns: repeat(1, 1fr);

    }
}
